body {
    background-color: #000;
}

.bgImage {
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.topBar {
    position: fixed;
    top: -100px;
    left: -100px;
    right: -100px;
    height: 190px;
    border: none;
    box-shadow: 0 0 22px #fff,0 0 22px #fff inset;
}

.logoContainer {
    position: absolute;
    top: 40px;
    left: 40px;
    box-shadow: 0 0 11px #fff,0 0 11px #fff inset;
    border-radius: 100px;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px;
    background-color: #000;
    color: #5ba1d4;
    font-family: Verdana;
    font-size: 47px;
    font-weight: bold;
}

.logoImage {
    position: absolute;
    top: 50%;
    margin-top: -35px;
    left: 15px;
    width: 70px;
}

.logoText {
    white-space: nowrap;
    padding-left: 80px;
    padding-right: 10px;
    text-shadow: 2px 2px 3px #fff, -2px -2px 2px #fff, -2px 2px 3px #fff, 2px -2px 3px #fff;
}
